<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/bootstrap_3.1.1/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap_3.1.1/css/custom.css")" rel="stylesheet" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap_3.1.1/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.simple-color.js")"></script>
    @RenderSection("Head", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyApp", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">JQuery<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Jquery get time by ajax", "JqueryGetTime", "JQuery")</li>
                            <li>@Html.ActionLink("Jquery get and set people", "JqueryGetSetPeople", "JQuery")</li>
                            <li>@Html.ActionLink("Jquery set name", "JquerySetName", "JQuery")</li>
                            <li>@Html.ActionLink("Jquery ajax from and json result", "JqueryAjaxFromAndJsonResult", "JQuery")</li>
                            <li>@Html.ActionLink("Jquery ajax JSON handlebars", "JqueryAjaxJSONHandlebars", "JQuery")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Autocomplite", "Autocomplite", "JQuery")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Html5<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("localStorage", "LocalStorage", "Html5")</li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Angular<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("1", "Index", "Angular")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("BottomPage", required: false)
</body>
</html>
